.comment-title{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: 10px;
}

.comment-item{
    margin: 20px 5px 20px 5px;
    border: 1px solid rgba(221, 221, 221, 0.9);
    border-radius: 5px;
}

.comment-username{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.comment-description{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: 10px 45px 20px 45px;
    font-size: 20px;
}

.comment-date {
    color: gray;
    font-size: 12px;
    text-align: right;
}

.comment.activity{
    display: flex;
    align-items: center;
}

.comment-activity > * {
    margin-right: 10px;
}

.comment-activity > *:last-child {
    margin-right: 0;
}

.comment-footer {
    display: flex;
    justify-content: space-between; /* Space out the children elements */
    align-items: center; /* Vertically center the items */
    padding: 5px 0; /* Optional: Add some padding for spacing */
    margin: 0 10px -15px 10px;

}



